{{ template "base" .}}

{{ define "content" }}

<div class="container">
    <div class="row">
        <div class="col">
            <img src="/src/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
                alt="room image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">General's Quarters</h1>
            <p>
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
                Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                to remember.
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col text-center">

            <button id="check-availability-button" data-toggle="modal" class="btn btn-success" data-target="#check-availability-modal">Check Availability</button>

            <!-- Modal -->
            <div class="modal fade" id="check-availability-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form action="/search-availability-json" method="post" id="check-availability-form" novalidate class="needs-validation">
                                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-row" id="reservation-dates-modal">
                                            <div class="col">
                                                <h5>Arrive</h5>
                                                <input required class="form-control" type="date" name="start" id="start">
                                            </div>
                                            <div class="col">
                                                <h5>Depart</h5>
                                                <input required class="form-control" type="date" name="end" id="end">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" form="check-availability-form" class="btn btn-primary">Check</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}